.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color);
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-mob-1.jpg);

  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mob-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tabl-1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-img-tabl-2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba (47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-dest-2.jpg);
  }
}

.hero__title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.36);
    max-width: 696px;
    margin-bottom: 40px;
  }
}

.hero__btn {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  line-height: 1.87;

  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);
  }
}
