.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
}
.auth-nav__link {
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__icon {
  @media screen and (min-width: 768px) {
    fill: var(--basic-text-color);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .auth-nav__link:hover &,
    .auth-nav__link:focus & {
      fill: var(--accent-color);
    }
  }
}

.auth-nav__item {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
