.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 21px;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-right: 25px;

  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translate(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translate(0%);
}

.mobile-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 40px;
  width: 40px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__button:hover,
.mobile-menu__button:focus {
  fill: #2196f3;
}

.menu-nav {
  margin-bottom: auto;
}

.menu-nav__item {
  margin-bottom: 32px;
}

.menu-nav__link {
  color: #212121;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
}

.menu-cont__item {
  margin-bottom: 32px;
}
.menu-cont__list {
  margin-bottom: 64px;
}
.menu-cont__link-tel {
  color: #2196f3;
  font-size: 34px;
  line-height: calc(40 / 34);
}

.menu-cont__link-email {
  color: #757575;
  font-size: 24px;
  line-height: calc(28 / 24);
  margin-bottom: 64px;
}

.menu-social__list {
  display: flex;
}

.menu-social__link {
  color: #2196f3;
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-right: 10px;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
