@mixin flex() {
  justify-content: center;
  align-items: center;
}

@mixin font($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}
