:root {
  --basic-text-color: #757575;
  --text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
  --card-set-marg: 30px;
}
